/* ------------------------------- */
/* -------- Сброс и прочее ------- */
/* ------------------------------- */

/* шрифт */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: linear-gradient(to bottom, #d3c0b5, rgb(220, 205, 196), rgb(188, 171, 161), rgb(177, 153, 138));
    min-height: 100vh;
}

/* скрол бар */
body::-webkit-scrollbar {
    width: 18px;
    background-color: rgb(192, 175, 165);
}
body::-webkit-scrollbar-thumb {
    border: 3px solid #efefef;
}

/* ----------------------------- */
/* -------- Общие стили -------- */
/* ----------------------------- */

h1 {
    margin: 30px 0 15px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    color: rgb(253, 253, 253);
}

a {
    text-decoration: none;
    color: rgb(64, 28, 11);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------------------------- */
/* ----- Шапка и навигация ----- */
/* ----------------------------- */

.header {
    height: 15vh;
    margin: 10px 15px;
    border-radius: 20px;
    background-image: url(../assets/headerBackground.jpeg);
    background-position: center;
}

.header__navigation {
    height: inherit;
}

.navigation__list {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* border: 2px solid rgb(119, 0, 255); */
}

.navigation__item {
    display: flex;
    padding: 1vh 2vw;
    justify-content: center;
    border: 3px rgb(246, 244, 242) solid;
    border-radius: 16px;
    color: rgb(246, 244, 242);
    font-family: "Montserrat", sans-serif;
    font-size: clamp(28px, 2vw, 32px);
    transition: 0.1s;
    transition-delay: 0.01s;
}

.navigation__item:hover {
    color: rgb(67, 28, 7);
    background-color: rgb(246, 244, 242);
    cursor: pointer;
    transform: scale(105%);
    transition: 0.1s;
    transition-delay: 0.01s;
}

/* Адаптив */

@media screen and (max-width: 700px) { 
    .header {
        height: fit-content;
    }
    
    .navigation__list {
        flex-direction: column;
        gap: 15px;
        padding: 9px;
    }

    .navigation__item {
        width: 88vw;
        padding: 0.7vh 0;
    }
}

/* ----------------------------- */
/* -------- Раздел с фото ------ */
/* ----------------------------- */

.photo-container__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(177, 144, 126, 0.3);
}

.photo-container__item {
    width: 23vw;
    border-radius: 9px;
}

/* Адаптив */

@media screen and (max-width: 1100px) { 
    .photo-container__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .photo-container__item {
        width: 43vw;
    }
}

@media screen and (max-width: 700px) { 
    .photo-container__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .photo-container__item {
        width: 83vw;
    }
}

/* ----------------------------- */
/* ------- Раздел с видео ------ */
/* ----------------------------- */

.video-container__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    justify-items: center;
    gap: 7px 0.3vw;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(177, 144, 126, 0.3);
}

.video-container__item {
    width: 13vw;
    height: 13vh;
    position: relative;
    padding: 5px;
    border-radius: 5% 10% 10% 15%;
    
    box-shadow: inset 0 3em 2em rgba(0, 0, 0, 0.7);
    transition: 0.2s;
}

.video-container__item:hover {
    transform: scale(101%);
    cursor: pointer;
    border-radius: 3% 7% 7% 11%;
}

@media screen and (max-width: 1600px) {
    .video-container__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .video-container__item {
        width: 26vw;
        height: 23vh;
    }

    .video-button {
        display: none;
    }
}

@media screen and (max-width: 700px) {

    .video-container__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 3vh;
    }

    .video-container__item {
        width: 77vw;
        height: 25vh;
    }

    .video-content__title {
        font-size: 20px;
        height: 46px;
    }
  
}

/* ----------------------------- */
/* ------ Раздел с музыкой ----- */
/* ----------------------------- */

.playlist-container {
    display: flex;
    gap: 5vh 1vw;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(212, 161, 147, 0.3)
}

.playlist-container__title {
    padding: 10px 0 2px 10px;
    border-radius: 12px 12px 0 0;
    color: rgb(250, 250, 250);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background: linear-gradient(0deg, rgb(176, 123, 108) 0%, rgb(219, 143, 123) 100%);
}

.playlist-container__item {
    width: 25vw;
    height: 66vh;
}

.playlist-container__item iframe {
    width: 100%;
    height: 100%;
    border-radius: 0 0 12px 12px;
    margin-right: -20px;
}

@media screen and (max-width: 1000px) {

  .playlist-container {
    flex-direction: column;
    padding-bottom: 6vh;
  }

  .playlist-container__item  {
    width: 81vw;
    height: 74vh;
  }

  .playlist-container__item:first-child {
    margin-bottom: 5vh;
  }
}

/* ----------------------------- */
/* ----------- Подвал ---------- */
/* ----------------------------- */

.footer {
    padding: 5px 15px;
    margin-top: 12vh;
}

.footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    width: 100%;
    height: 8vh;
    /* background: #DDAA8C; */
    /* background: radial-gradient(circle, rgba(196, 156, 133, 0.8) 20%, rgba(184, 147, 121, 0.8) 100%); */
    background-size: 100%;
    background-position: center;
    border-radius: 12px;
}

.footer span {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}